<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜單|xx早餐店</title>
</head>
<body>
    <button type:button value:"蛋餅" background-color:blue>
        <p>
            <button type:button value:"原味蛋餅$30"><img src="https://i.ibb.co/nsxWWxT/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>原味蛋餅 $30</h2><br>
                <input type="checkbox" name="Over-egg">加全熟蛋 +$15<br>
                <input type="checkbox" name="Over-easy egg">加半熟蛋 +$15<br>
                <input type="checkbox" name="Add cheese">加起司 +$15<br>
                <input type="checkbox" name="No sauce or dressing">不加醬<br>
                <input type="checkbox" name="Spicy">加辣<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"起司蛋餅$40"><img src="https://i.ibb.co/nsxWWxT/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>起司蛋餅 $40</h2><br>
                <input type="checkbox" name="Over-egg">加全熟蛋 +$15<br>
                <input type="checkbox" name="Over-easy egg">加半熟蛋 +$15<br>
                <input type="checkbox" name="Add cheese">加起司 +$15<br>
                <input type="checkbox" name="No sauce or dressing">不加醬<br>
                <input type="checkbox" name="Spicy">加辣<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"玉米蛋餅$35"><img src="https://i.ibb.co/nsxWWxT/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>玉米蛋餅 $35</h2><br>
                <input type="checkbox" name="Over-egg">加全熟蛋 +$15<br>
                <input type="checkbox" name="Over-easy egg">加半熟蛋 +$15<br>
                <input type="checkbox" name="Add cheese">加起司 +$15<br>
                <input type="checkbox" name="No sauce or dressing">不加醬<br>
                <input type="checkbox" name="Spicy">加辣<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
        </p>
    </button>
    <button type:button value:"飲品" background-color:blue>
        <p>
            <button type:button value:"紅茶$20"><img src="https://i.ibb.co/RDLfpgw/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>紅茶 $20</h2><br>
                <input type="checkbox" name="L">L +$5<br>
                <input type="checkbox" name="Hot">熱<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"豆漿$20"><img src="https://i.ibb.co/RDLfpgw/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>豆漿 $20</h2><br>
                <input type="checkbox" name="L">L +$5<br>
                <input type="checkbox" name="Hot">熱<br>
                <input type="checkbox" name="No sugar">無糖<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"青茶$20"><img src="https://i.ibb.co/RDLfpgw/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>青茶(無糖) $20</h2><br>
                <input type="checkbox" name="L">L +$5<br>
                <input type="checkbox" name="Hot">熱<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"奶茶$25"><img src="https://i.ibb.co/RDLfpgw/image.jpg" alt="image" border="0"></button>
            <p>
                <h2>奶茶 $25</h2><br>
                <input type="checkbox" name="L">L +$5<br>
                <input type="checkbox" name="Hot">熱<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
        </p>
    </button>
    <button type:button value:"果醬吐司" background-color:blue>
        <p>
            <button type:button value:"草莓吐司$20"><img src="https://i.ibb.co/yktRKHh/image.png" alt="image" border="0"></button>
            <p>
                <h2>草莓吐司 $20</h2><br>
                <input type="checkbox" name="Thick slices">換厚片 +$5<br>
                <input type="checkbox" name="More jam">醬多<br>
                <input type="checkbox" name="Less jam">醬少<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"巧克力吐司$20"><img src="https://i.ibb.co/yktRKHh/image.png" alt="image" border="0"></button>
            <p>
                <h2>巧克力吐司 $20</h2><br>
                <input type="checkbox" name="Thick slices">換厚片 +$5<br>
                <input type="checkbox" name="More jam">醬多<br>
                <input type="checkbox" name="Less jam">醬少<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"奶酥吐司$20"><img src="https://i.ibb.co/yktRKHh/image.png" alt="image" border="0"></button>
            <p>
                <h2>奶酥吐司 $20</h2><br>
                <input type="checkbox" name="Thick slices">換厚片 +$5<br>
                <input type="checkbox" name="More jam">醬多<br>
                <input type="checkbox" name="Less jam">醬少<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"藍莓吐司$20"><img src="https://i.ibb.co/yktRKHh/image.png" alt="image" border="0"></button>
            <p>
                <h2>藍莓吐司 $20</h2><br>
                <input type="checkbox" name="Thick slices">換厚片 +$5<br>
                <input type="checkbox" name="More jam">醬多<br>
                <input type="checkbox" name="Less jam">醬少<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
            <button type:button value:"香蒜吐司$20"><img src="https://i.ibb.co/yktRKHh/image.png" alt="image" border="0"></button>
            <p>
                <h2>香蒜吐司 $20</h2><br>
                <input type="checkbox" name="Thick slices">換厚片 +$5<br>
                <input type="checkbox" name="More jam">醬多<br>
                <input type="checkbox" name="Less jam">醬少<br>
                <button id="decreaseBtn">-</button>
                <input type="text" id="quantity" value="1">
                <button id="increaseBtn">+</button><br>
                <button type:button value:"加到購物車" background-color:red></button>
            </p><br>
        </p>
    </button>
</body>
</html>